/* 
CSS
*/

/* Fonts */
@font-face {
    font-family: TreeRoot;
    src: url(fonts/TreeRoot-ZVgOl.ttf);
}

@font-face {
    font-family: SalmaproMedium;
    src: url(fonts/SalmaproMedium-0Wooo.otf);
}

/* Scroll Bar */
::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-track {
    background: #e1e1e1;
}

::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #999;
}

/*  */ /*  */ /*  */
/* Home */
* {
    /* I like to have full control over my trash.*/
    padding: 0%;
    margin: 0%;
}

body {
    background-color: rgb(255, 255, 255);
    /* background-image: url("images/landscape_render.png"); */
}

.two_column_index {
    display: flex;
    padding: 0px;
    z-index: 2;
    box-shadow: 0px 4px 18px black;
}

.two_column_index .left {
    flex: 33%;
    float: left;
    background-color:rgb(60, 103, 60);
    box-shadow: inset 5px 15px 30px rgba(0, 0, 0, 0.84);
    margin: 0px;
}

.two_column_index .right {
    float: right;
    align-items: right;
    flex: 66%;
}

.welcome {
    color: rgb(255, 255, 255);
    font-size: 56px;
    font-family: SalmaproMedium;
    font-weight: 400;
    text-align: center;
    padding: 16px;
    margin: 8px;
    margin-top: 36px;
}

.welcome span {
    background-image: linear-gradient(to top, rgb(51, 0, 48) 0%, rgb(129, 0, 97) 60%);
    -webkit-background-clip: text;
    background-clip: text;
    color: rgba(255, 255, 255, 0);
    font-weight: bold;
}

.stubborn {
    display: flex;
    padding-left: 37%;
    padding-right: 30%;
    align-content: center;
    align-items: center;
}

.profile_photo {  /* 600 x 900 originally */
    object-fit: cover;
    width: 200px;
    height: 200px;
    object-position: 0 5%;
    border: 2px groove black;
    border-radius: 100%;
    margin: 8px;
    margin-right: auto;
}

.intro_text {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: SalmaproMedium;
    text-align: center;
    padding: 16px;
    margin: 6px;
    margin-top: 18px;
}

.index_span_image {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

/* Nav Bar */
.flex {
    display: flex;
    align-items: center;
}

.container {
    width: 100%;
    background-color: rgb(0, 16, 0);
    overflow-x: hidden;
    color:white;
    box-shadow: inset 0px 10px 30px rgb(0, 40, 0);
    font-family: SalmaproMedium;
    position: sticky;
    top: 0px;
}

.container header {
    width: 100%;
    height: 60px;
    padding: 10px 60px;
    justify-content: space-between;
}

header .nav-title {
    font-size: 45px;
    font-weight: 600;
    width: 30%;
    margin-left: 60px
}

.nav-title a {
    text-decoration: none;
    color: white;
}

header nav ul {
    justify-content: center;
    width: 70%;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    font-size: 20px;
    padding: 10px 25px;
    font-weight: 500;
    color: white;
}

/* Projects Section */
.projects_section {
    padding: 24px;
    margin: 24px;
}

.main h1 {
    text-align: center;
    color: rgb(0, 60, 0);
    font-size: 56px;
    font-family: SalmaproMedium;
    padding: 36px;
    margin: 36px;
}

.projects_section h2 {
    text-align: center;
    color: rgb(0, 60, 0);
    font-size: 36px;
    font-family: SalmaproMedium;
    padding: 12px;
    margin: 12px;
}

/* Subsections for projects */
.main_flex {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main_flex img {
    padding: 8px;
    margin: 8px;
    width: 25%;
    height: 25%;
}

 /*  */ /*  */ /*  */
 /* Error Page */
 .center {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: SalmaproMedium;
    color: white;
    background-image: linear-gradient(to bottom, rgb(0, 60, 0) 0%,rgb(0, 10, 0) 75%, rgb(0, 0, 0) 100%);
    height: 100vh;
 }

 .error {
    text-align: center;
 }

 .error-title {
    font-size: 160px;
    font-weight: 400;
    margin: 4px;
    background-image: linear-gradient(to top, rgb(51, 0, 48) 0%, rgb(129, 0, 97) 60%);
    -webkit-background-clip: text;
    background-clip: text;
    color: rgba(255, 255, 255, 0);
 }

 .error-type {
    font-size: 60px;
    font-weight: 400;
    margin: 4px;
 }

 .error-text {
    font-size: 24px;
    font-weight: 400;
    margin: 4px;
    margin-top: 48px;
 }

 .error-link {
    text-decoration: none;
    background-image: linear-gradient(to top, rgb(51, 0, 48) 0%, rgb(129, 0, 97) 60%);
    -webkit-background-clip: text;
    background-clip: text;
    color: rgba(255, 255, 255, 0);
 }

/*  */ /*  */ /*  */
/* About Page */
.about p {
    color: rgb(0, 0, 0);
    text-align: left;
    padding: 6px;
    margin: 32px;
    font-size: 20px;
    font-family: SalmaproMedium;
    font-weight: 400;
}

.placeholder {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 36px;
    padding: 6px;
    width: 640px;
}